 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.min" th:href="@{/css/bootstrap-theme.min}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css" th:href="@{/css/styles.css}"/>
    
<nav class="navbar navbar-default"> 
    <div class="container-fluid"> 
        <div class="navbar-header"> 
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button> 
            <a href="/Dashboard" class="navbar-brand">Painel de Controle<img class="navbar-brand" src="logo.png" style="width:70px;"/></a> 
        </div> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9"> 
            <ul class="nav navbar-nav"> 
                <li><a href="/ListarNoticias">Noticias</a></li> 
                <li><a href="/NovaNoticia">Postar</a></li> 
                
                <li><a href="/ListarUsuario">Usuarios Cadastrados</a></li>
                
                 <li><a href="/NovoUsuario">Cadastrar Usuarios</a></li> 
                 <li><a href="/Dashboard">Admin</a></li> 
                <li><a href="/logout">Sair</a></li> 
                
            </ul> 
        </div> 
    </div> 
</nav>
    
    
    


