<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    </head>
    <body>
        <th:block th:include="cabecalho"></th:block>
        <div class="container">
            <h3>Postar Novo assunto</h3>
            <div class="alert alert-success alert-dismissible" th:if="${not #strings.isEmpty(mensagemSucesso)}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${mensagemSucesso}"></span>
            </div>
            <div class="alert alert-danger alert-dismissible" th:if="${not #strings.isEmpty(mensagemErro)}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${mensagemErro}"></span>
            </div>
           <form method="POST" action="NovaNoticia">
           
               
               <div class="row">
                        <div class="col-md-6"> 
                            <label for ="usuario">Usuario responsável:</label>
                            
                            <select name="usuario" >
                       <option th:each="usuario: ${usuarios}" th:value="${usuario.id}"  th:text="${usuario.nome}"/>
                            </select>
                           
                        </div>
                        </div>
              
               
               <div class="row">
                    <div class="col-md-6">
                        <label for ="titulo">Titulo</label>
                        <input type="text" name="titulo" id="titulo" class="form-control"/>
                    </div>
                </div>
               
               
                 <div class="row">
                          <div class="col-md-6">
                        <label for ="texto">Texto</label> 
                        <textarea name="texto" id="texto" class="form-control" rows="10"></textarea>
                          </div>
                 </div> 
               
                 <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Inserir" class="btn btn-primary"/>
                    </div>
                 </div> 
               
                    
            </form>
         </div>
       <th:block th:include="rodape"></th:block>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>