<html lang="en">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Associação de Surdos e Surdas de Presidente Prudente – “Dorvalino Paixão” (ASSPP)</title>

    <!-- Bootstrap core CSS -->
   

    <!-- Custom fonts for this template -->
    
    
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>

    <!-- Custom styles for this template -->
    <link type="Text/css" rel="stylesheet" th:href="@{/font-awesome.min.css}"/>
    <link type="Text/css" rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link type="Text/css" rel="stylesheet" th:href="@{/clean-blog.css}"/>
    <link type="Text/css" rel="stylesheet" th:href="@{/slick.css}"/>
    </head>

  <body>
    
      <th:block th:include="cabecalhosobre"></th:block>

   


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Com o objetivo de auxiliar seus associados e cobrar da sociedade o cumprimento de legislações já existentes, em abril de 2017 foi criada a Associação dos Surdos e Surdas de Presidente Prudente e Região - “Dorvalino Paixão” (ASSPP). O órgão tem caráter cultural, educacional e social, sem fins lucrativos.</p>

            <p>De acordo com seu presidente, Carlos Ivan Gonçalves Vilhalba a ideia é auxiliar os surdos no seu dia a dia. “Também temos o objetivo de fundar um clube, conseguir convênios com médicos e, principalmente, cobrar da sociedade que eles tenham acesso a interpretes em repartições públicas e no trabalho”, pontua.</p>

            <p>Entre as dezenas de pontos abordados pelo estatuto social da associação, estão: “assegurar e promover, em condições de igualdade, o exercício dos direitos e das liberdades fundamentais da pessoa surda, visando à sua inclusão social e cidadania; orientar a todos que a pessoa surda tem direito à igualdade de oportunidades com as demais pessoas e não sofrerá nenhuma espécie de discriminação; orientar e comunicar às autoridades competentes sobre qualquer forma de ameaça ou de violação aos direitos da pessoa surda; e promover o respeito à especificidade, à identidade de gênero e à orientação sexual da pessoa surda”.</p>

            <p>A diretoria foi eleita por aclamação na sede provisória da associação, com a presença de cerca de 50 surdos no último mês.</p>

            <p>Além de Carlos Vilhalba, a associação também é composta pelo vice-presidente Flávio Augusto Gonçalves; diretor Administrativo, Wanderson da Silva Santos; diretora Financeira, Bruna Caroline Campos Cogo; diretor Desportivo, Richard de Moraes Alves; diretor Social e Cultural, Robert Lucas Galvão da Fonseca; diretor Comercial e de Patrimônio, Fernando da Rocha Rosalis; diretor Jurídico, Sílvia Rodrigues Coelho; e conselho fiscal Maria Durcelê Mariz Vilhalba, André de Oliveira Pelegrini e Cibele Aparecida Oliveira Molitor Santos.</p>

            <p>São suplentes da ASSPP: Suelen Gomes Batistela Pelegrini, Vitória Geovana de Paula Mota, José Dálcio de Mariz, Alex de Carvalho Barboza, Maria Dulcilene Mariz Pires, Henrique Reis Alfredo da Silva, Tiago Henrique Oliveira, Flávio Pereira da Silva, Cláudio Roberto Pereira de Souza e Jeniffer Moura de Souza.</p>
            
            <p>Para fazer parte da associação, surdos e familiares podem procurar a sede provisória, na Rua Ulisses Ramos de Castro, 268, Bosque. A taxa mensal será inicialmente de R$ 20.</p>

            <p>Como a diretoria é formada somente por surdos e surdas, um grupo de ouvintes faz parte da coordenação ASSPP. O representante destas pessoas é Miriã Moraes, que pode receber ligações pelo telefone: (18) 99774-7007.</p>
            
        </div>
      </div>
    </div>

    <hr/>


<th:block th:include="novorodape"></th:block>
    <!-- Bootstrap core JavaScript -->
        <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/bootstrap.bundle.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/clean-blog.min.js}"></script>
<script th:src="@{/slick.js}"></script>
  </body>

</html>
   





